* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@page {
    size: landscape;
    margin : 2px;
}


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.0em;
  line-height: 0.50;
  color: #000;
}


.reportlabel {
  font-size: 12pt;
  line-height: 1.6;
  color: #696866;
}

hr {
  border-color: #999999;
  max-width: 400px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 200;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 5px;
  padding: 5px 5px;
}
p {
  margin: 0 5px 5px;
}
.vision {
	background: #c0d681;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 100;
}
.col-lg-12 {
    width: 100%;
  }
  .col-lg-6 {
    width: 50%;
  }
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 5px 0;
}
.brand {
	display: inherit;
	margin: 0;
	padding: 10px 0 5px;
	background: url(../images/myvoice.png) no-repeat center center fixed;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 0px;
  font-size: 1.0em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #777;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



    .box:after {
        content: '';
        display: table;
        clear: both;
    }
@@media print {
		 html { 
			background: url(@routes.Assets.at("images/bg.jpg")) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			-webkit-print-color-adjust: exact;
		}
		body { 
			background: url(@routes.Assets.at("images/bg.jpg")) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			-webkit-print-color-adjust: exact;
		} 
		* { margin: 10 !important; padding: 10 !important; }
   html, body {
	   width: 100%; 
	   height: 100%;
	}
	
	.clrBlue {
		color:#176798;
		-webkit-print-color-adjust: exact;
	}
	
	@@page { size : landscape }
	@@page rotated { size : landscape }
	table { page : rotated }
	
	 .tdbg {
		width:100px;
		background-color:#E6DBB9;
		-webkit-print-color-adjust: exact;
	}
	
	.clrRed {
		color:#7A160B;
		-webkit-print-color-adjust: exact;
	}
	
	 .tdbg200 {
		width:200px;
		background-color:#E6DBB9;
		-webkit-print-color-adjust: exact;
	}
	
	 .tdbg100b {
		width:100px;
		background-color:#A6914A;
		-webkit-print-color-adjust: exact;
	}
	.divbg {
	display:block;
		top: 100px;
		left:0px;
		position: absolute;
		width: 100%; 
	   height: 100%;
	   margin: 0px;
	   padding: 0px;
	 -webkit-print-color-adjust: exact;
	}
	
}

@@media screen {
	.divbg {
	display:none;
		top: 0px;
		left:0px;
		position: absolute;
		width: 100%; 
	   height: 100%;
	   margin: 0px;
	   padding: 0px;
	 -webkit-print-color-adjust: exact;
	}
}
	 .tdbg {
		width:100px;
		background-color:#E6DBB9;
	}
	
	 .tdbg200 {
		width:200px;
		background-color:#E6DBB9;
	}
	
	 .tdbg100b {
		width:100px;
		background-color:#A6914A;
	}
	
	.clrBlue {
		color:#176798;
	}
	
	.clrRed {
		color:#7A160B;
	}
    