
	<!-- /.container -->
    <div class="row footer" style="margin-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <nobr>&copy; 2015 MyVoice<small><font color="#ccc"><i class="fa fa-ellipsis-v"></i></font></small> Contact Us: <i class="fa fa-envelope"></i> <a href="mailto:  euginleen@@gmail.com" title="Email  euginleen@@gmail.com">euginleen@@gmail.com</a> or <i class="fa fa-phone-square"></i> +91 99-69-570774 <small><font color="#ccc"><i class="fa fa-ellipsis-v"></i></font></small> Supported Browsers: Chrome and Firefox</nobr>
                </div>
            </div>
        </div>
    </div>
</body>

</html>