@(connecteduser : User)
@header("MyVoice",connecteduser)


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                		<h1 class="page-header">User Reports</h1>
               			@if(flash.get("success")) {
		                    <div class="alert alert-success alert-dismissable">
			            	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			            		@flash.get("success")
			            	</div>
	            		} else {
	            			@if(flash.get("error")) {
		            			<div class="alert alert-danger alert-dismissable">
				            	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				            		@flash.get("error")
				            	</div>
			            	}
	            		}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
				<div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> User Report Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="userReportTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Email</th>
                                            <th>Topic Title</th>
                                            <th>Read Time</th>
                                           	<th>Write Time</th>
                                           	<th>Created On</th>
                                           	<th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
							
						</div>
					</div>
				</div>
				 
            <!-- /.row -->
        </div>
        <div class="row">
				<div class="col-lg-12">
                    <div id="userTextDiffPanel" class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-strikethrough fa-fw"></i> Topic Difference Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="table-responsive" >
                                <table class="table table-striped table-bordered table-hover" >
                                    <thead>
                                        <tr>
                                        	<th>#</th>
                                            <th>Original Topic</th>
                                            <th>Typed Topic</th>
                                            <th>Difference</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td class="selId"></td>
							                <td class="original"></td>
							                <td class="changed"></td>
							                <td class="diff"></td>
							            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
							
						</div>
					</div>
				</div>
				 
            <!-- /.row -->
        </div>
        <div class="row">
        	<div id="statusPanel" class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-exchange fa-fw"></i> Comparison Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
								<p class="text-info">Matching Character Count: <b><span id="matchCharCount" >0</span></b></p>
								<p class="text-info">MisMatching Character Count: <b><span id="mismatchCharCount" >0</span></b></p>
								<p class="text-info">Total Original Character Count: <b><span id="originalCharCount" >0</span></b></p>
								<p><a href="/pdfreport" target="_blank"><i class="fa fa-users fa-fw"></i> PDF</a></p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <script type="text/javascript">
    function doDiff(id) {
    	 var d = diff_match_patch.prototype.diff_main($("#originalTopic_"+id).val(), $("#userTopic_"+id).val());
    	 var ds = diff_match_patch.prototype.diff_prettyHtml(d);
    	 $(".selId").html(id);
    	 $(".original").html($("#originalTopic_"+id).val());
    	 $(".changed").html($("#userTopic_"+id).val());
    	 $("#originalCharCount").html($("#originalTopic_"+id).val().length);
    	$(".diff").html(ds);
    }
    
    diff_match_patch.prototype.diff_prettyHtml = function(diffs) {
        var html = [];
        var pattern_amp = /&/g;
        var pattern_lt = /</g;
        var pattern_gt = />/g;
        var pattern_para = /\n/g;
        var matchCnt = 0;
        var mismatchCnt = 0;
        for (var x = 0; x < diffs.length; x++) {
          var op = diffs[x][0];    // Operation (insert, delete, equal)
          var data = diffs[x][1];  // Text of change.
          //var text = data.replace(pattern_amp, '&amp;').replace(pattern_lt, '&lt;')
          //    .replace(pattern_gt, '&gt;').replace(pattern_para, '&para;<br>');
          var text = data.replace(pattern_amp, '&amp;').replace(pattern_lt, '&lt;')
              .replace(pattern_gt, '&gt;').replace(pattern_para, '<br>');
          switch (op) {
            case DIFF_INSERT:
              html[x] = '<ins>' + text + '</ins>';
              mismatchCnt+=text.length;
              break;
            case DIFF_DELETE:
              html[x] = '<del>' + text + '</del>';
              mismatchCnt+=text.length;
              break;
            case DIFF_EQUAL:
              html[x] = '<span>' + text + '</span>';
              matchCnt+=text.length;
              break;
          }
        }
        $("#matchCharCount").html(matchCnt);
        $("#mismatchCharCount").html(mismatchCnt);
        return html.join('');
      };
      
    loadTable();
    
    var oTable;
    function loadTable() {
    	oTable = $('#userReportTable').dataTable({
        		"bProcessing": true,
                "bServerSide": false,
                "sAjaxSource": "/userreports.json",
                "sDom": "<'row-fluid'<'col-lg-4'l><'col-lg-5'f><'col-lg-3'T>r>t<'row-fluid'<'col-lg-6'i><'col-lg-6'p>>",
                "oTableTools": {
                	"sSwfPath": "/assets/swf/copy_csv_xls_pdf.swf",
                	"aButtons": [
                	                {
                	                    "sExtends":    "collection",
                	                    "sButtonText": "<i class='fa fa-download'></i> Download",
                	                    "aButtons":    [ "xls", "pdf" ]
                	                }
                	            ]
        		},
                "aoColumns": [
                     { "mData": "id" },
                     { "mData": "email" },
                     { "mData": "title" },
                     { "mData": "readTime" },
                     { "mData": "writeTime" },
                     { "mData": "createdDate" },
                     { "mData": null }
                 ],
                 "aoColumnDefs": [     
             			{ "mRender": function(oObj) {
             					return '<input type="hidden" id="userTopic_' + oObj.id + '" name="userTopic_' + oObj.id + '" value="' + oObj.userTopic + '"/><input type="hidden" id="originalTopic_' + oObj.id + '" name="originalTopic_' + oObj.id + '" value="' + oObj.originalTopic + '"/><a title="Show Diff" href="javascript:doDiff(' + oObj.id +')" ><i class="fa fa-files-o fa-fw"></i></a>&nbsp;|&nbsp;<a title="Remove User Topic" href="/deleteusertopic/' + oObj.id +'" ><i class="fa fa-trash-o fa-fw"></i></a>';
             				},
             				"bSortable": false,
             				"aTargets": [6]
             			}
             		],
             		"oLanguage": {
            			"sLengthMenu": "Show _MENU_ Tests",
            			"sEmptyTable": "No Report Found.",
            			"sInfoEmpty": "",
            			"sProcessing": "Loading...",
            			"sClass": "dataTableContent"
            		},
    	});
    }
     </script>
    
 
@footer()

