@(userTopic: UserTopic, perc : Double, currDateStr : String)

<!DOCTYPE html>
<html lang="en">

<head>
    

    <title>MyVoice Report</title>

    <!-- Bootstrap core CSS -->
     <link  href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="all" />

    <!-- Add custom CSS here -->
     <link  href="@routes.Assets.at("stylesheets/business-casual.css")" rel="stylesheet" media="screen, print"/> 
    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"  type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"  type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-dateFormat.min.js")" type="text/javascript"></script>
 
 <script type="text/javascript">
 var longDateFormat  = 'dd/MM/yyyy HH:mm:ss';
 </script>
    
    <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" >
$(function () {
    $('#container').highcharts({
        chart: {
        	style: {
        		color: '#424242',
                font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
             },
            type: 'bar'
        },
        title: {
        	style: {
        		color: '#610B0B',
                font: 'bold 18px "Trebuchet MS", Verdana, sans-serif'
             },
            text: 'Test Result'
        },
        subtitle: {
        	style: {
        		color: '#B43104',
                font: '10px "Trebuchet MS", Verdana, sans-serif'
             },
            text: 'Comparison for Reading, Speaking, Listening and Typing'
        },
        xAxis: {
            categories: [''],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total (characters)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' characters'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
        	style: {
                font: '10px "Trebuchet MS", Verdana, sans-serif'
             },
        	layout: 'horizontal',
            align: 'right',
            verticalAlign: 'top',
            x: 0,
            y: 45,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Match',
            color: '#088A08',
            data: [@userTopic.matchCount]
        }, {
            name: 'MisMatch',
            color: '#B40404',
            data: [@userTopic.misMatchCount]
        }, {
            name: 'Total',
            color: '#084B8A',
            data: [@userTopic.totalCount]
        }]
    });
});
</script>

<style type="text/css">
@@media print {
	* { margin: 10 !important; padding: 10 !important; }
		 html { 
		 
			background: url(@routes.Assets.at("images/bg.jpg")) no-repeat center center fixed; 
			/* -webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover; */
			-webkit-print-color-adjust: exact;
			/* background-color: #ccc; */
		}
		body { 
		
			background:url(@routes.Assets.at("images/bg.jpg")) no-repeat center center fixed; 
			/* -webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover; */
			-webkit-print-color-adjust: exact;
			/* background-color: #ccc; */
		} 
		.bghack {
			background: #ccc;
			-webkit-print-color-adjust: exact;
		}
	}
	
	@@media screen {
		
	
		 html { 
			background: url(@routes.Assets.at("images/bg.jpg")) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			-webkit-print-color-adjust: exact;
		}
		body { 
			background: url(@routes.Assets.at("images/bg.jpg")) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			-webkit-print-color-adjust: exact;
		} 
		* { margin: 10 !important; padding: 10 !important; }
   html, body {
	   width: 100%; 
	   height: 100%;
	}
	.element {
	-webkit-print-color-adjust: exact;
	}
	}
</style>
</head>

<body>
    <div class="bghack">
    <div class="brand" align="center"><img alt="MyVoice" src="@routes.Assets.at("images/myvoice.png")" height="75px" width="275px"></div>
    <div class="address-bar">Testing basic skills of Reading, Speaking, Listening and Typing &#45; An Integrated Approach</div>

    <div class="container">
	 <div class="row">
        	<table style="margin-left:20px;cellspacing:15px;width:100%;">
        		<tr>
	        		<td><h2 class="intro-text text-left "><strong>Name of the Teacher:</strong></h2></td>
	        		<td colspan=3 class="clrRed"><h2 class="intro-text text-left "> <strong>@userTopic.user.firstName @userTopic.user.lastName</strong></h2></td>
	        		<td><h2 class="intro-text text-left "><strong>School:</strong></h2></td>
	        		<td class="clrRed"><h2 class="intro-text text-left "><strong>@userTopic.user.schoolName</strong></h2></td>
        		</tr>
        		<tr>
        			<td> <h2 class="intro-text text-left "><strong>Email:</strong></h2></td>
	        		<td class="clrRed"><h2 class="intro-text text-left "> <strong>@userTopic.user.email</strong></h2></td>
	        		<td> <h2 class="intro-text text-left "><strong>Date:</strong></h2></td>
	        		<td class="clrRed"><h2 class="intro-text text-left " > <strong>@currDateStr</strong></h2></td>
	        		<td><h2 class="intro-text text-left "><strong>Designation:</strong></h2></td>
	        		<td class="clrRed"><h2 class="intro-text text-left "><strong>@userTopic.user.designation</strong></h2></td>
        		</tr>
        	</table>
        	
        	</div>
        	
        	<div class="box">
        	 <div class="col-lg-12">
        	 <div><h5>Timing</h5></div>
                	<div class="col-lg-12">
		        	 <table style="cellspacing:15px;width:100%;" >
		        		<tr>
		        			<td><p class="text-left reportlabel">Reading</p></td>
		        			<td><p class="text-left reportlabel">Beginning</p></td>
		        			<td align="center" class="tdbg">@userTopic.readingStartStr</td>
		        			<td><p class="text-left reportlabel">Ending</p></td>
		        			<td align="center" class="tdbg">@userTopic.readingEndStr</td>
		        			<td><p class="text-left reportlabel"><nobr>Time taken</nobr></p></td>
		        			<td align="center" class="tdbg">@userTopic.readTime</td>
		        		</tr>
		        		<tr>
		        			<td><p class="text-left reportlabel">Listening and Typing</p></td>
		        			<td><p class="text-left reportlabel">Beginning</p></td>
		        			<td align="center" class="tdbg">@userTopic.typingStartStr</td>
		        			<td><p class="text-left reportlabel">Ending</p></td>
		        			<td align="center" class="tdbg">@userTopic.typingEndStr</td>
		        			<td><p class="text-left reportlabel"><nobr>Time taken</nobr></p></td>
		        			<td align="center" class="tdbg">@userTopic.writeTime</td>
		        		</tr>
		        		<tr>
		        			<td colspan=6><p class="text-left reportlabel">Total time taken for Reading, Speaking, Listening and Typing</p></td>
		        			<td align="center" class="tdbg100b"><strong>@userTopic.totalTime</strong></td>
		        		</tr>
		        	</table>
		        	</div>
        	 </div>
        	</div>
        	
        	
          
            <div class="box">
                <div class="col-lg-12">
                	<div><h5>Topic: </h5><p>@userTopic.topic.topic</p></div>
                	<table style="width:100%" >
                		<tr>
                			<td width="50%">
                			<table style="cellspacing:15px;width:100%;">
			        		<tr><td><p class="text-left reportlabel">Matching character count</p></td><td align="center" class="tdbg">@userTopic.matchCount</td></tr>
			        		<tr><td><p class=" text-left reportlabel">MisMatching character count</p></td><td align="center" class="tdbg">@userTopic.misMatchCount</td></tr>
			        		<tr><td><p class="text-left reportlabel">Total original character count</p></td><td align="center" class="tdbg">@userTopic.totalCount</td></tr>
			        		<tr><td><p class="text-left reportlabel">Percentage of matching character count</p></td><td align="center" class="tdbg100b"><strong>@perc %</strong></td></tr>
	        			</table> 
                			</td>
                			<td width="50%">
                			<div id="container" style="min-width: 410px; max-width: 450px; height: 225px; margin: 0 auto"></div>
                			</td>
                		</tr>
                		
                	</table>
	                    
                </div>
               
            </div>

            <div class=" vision">
                <div class="col-lg-12 " style="margin-top:5px;">
                    <p class="text-left clrBlue" >Testing the basic skills a teacher must master</p><p class="text-right clrBlue" >Projecting the level of skills into concrete form</p>
                    <p class="text-left clrBlue" style="color:#A6914A" >Concept: Eugene Dulles Leen</p><p class="text-center clrBlue" >Enabling teachers to hone the skills</p>
                </div>
            </div>
   </div>
    <!-- /.container -->
    <div class="row footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    &copy; 2014 MyVoice
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>
